* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    text-align: center;
    padding: 1px;
    background-color: #274f12;
    color: white;
}

header h1 {
    margin-bottom: 0%;
    font-size: 48px;
} 

body {
    display: flex;
    background-image: url("../images/Yosemite-National-Park.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url("../images/Yosemite-National-Park.jpg");
    background-size: cover;
    background-position: center;
}

.parks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10%;
    margin: 1%;
}

.park-card {
    height: 45%;
    width: 23%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: rgba(248, 246, 246, 0.7);;
    font-size: 50%;
    margin: 1%;
    padding: 1%;
}

.searchBtn {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    font-size: 100%;
    background-color: #274f12;
    border-radius: 5px;
    padding: 2px 10px;
    color: white;
    border: 0;
}



@media only screen and (max-width: 960px) {
    main {
        margin: 50px
    }
}

@media only screen and (max-width: 520px) {
    body {
      font-size: 125%;
    }
    main {
        margin: 10px;
    }
}